# Arhivos de Java #
*.class

# Archivos Java empaquetados #
*.jar
*.war
*.ear

# Logs de errores de VM #
hs_err_pid*

# Eclipse IDE #
.project
.externalToolBuilders/
*.launch
.classpath
.factorypath
.target
.springBeans
.recommenders/

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
/target/
